@{
    ViewBag.Title = "Página principal";
}

<div class="jumbotron">
    <h1>Controle fácil o melhor sistema de controle de estoque</h1>
    <h2>Utilize uma plataforma confiável e pague pouco por isso.</h2>
    <p class="lead">Nossa plataforma oferece um serviço de controle de estoque e de pedidos no qual você pagará muito pouco para utilizar. Porquê é mais barato?
    Justamente pelo fato de nosso serviço ser compartilhado com várias outras pessoas, assim podemos mantê-lo e distribuílo com um preço justo.</p>
    <img src="~/Content/07.01-Estoque1.png" width="800" height="302" />
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Importância de usar um sistema de controle.</h2>
        <p>
            Além de redução de erros, a utilização de um sistema de gestão de estoque que realiza vários procedimentos em conjunto, é uma inovação que poupa tempo do gestor e dos funcionários. 
            Desta forma, por ficarem livres de grande parte do trabalho burocrático, eles podem ser alocados para a realização de tarefas muito mais produtivas, como o atendimento ao cliente ou produção, entre outras possibilidades.
        </p>
        <p><a class="btn btn-default" href="https://www.youtube.com/watch?v=rmQnVTLwc3E">Descubra mais &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <br />
        <br />
        <br />
        <img src="~/Content/Vanuston-erp-solution.png"width="300" height="150" />
    </div>
</div>