
@{
    ViewBag.Title = "PaginaInicial";
}

<h1>Controle fácil</h1>

@ViewBag.Message1

<div class="jumbotron">
    <p><a href="http://localhost:56401/Cliente/Create" class="btn btn-primary btn-lg"> Cadastrar cliente &raquo;</a></p>
    <br />
    <p><a href="http://localhost:56401/Produto/Create" class="btn btn-primary btn-lg">Cadastrar produto &raquo;</a></p>
    <br />
    <p><a href="http://localhost:56401/Pedido/Create" class="btn btn-primary btn-lg">Cadastrar pedido &raquo;</a></p>
</div>