@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Bloqueado";
}

<hgroup>
    <h1 class="text-danger">Locked out.</h1>
    <h2 class="text-danger"> Esta conta foi bloqueada, por favor tente novamente depois.</h2>
</hgroup>
